{% load static %}
{% load bootstrap4 %}

{% include 'topo.html' %}

        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper" style="margin-top: -15px;">
          <div class="d-sm-flex align-items-top justify-content-between mb-1">
            <h3 class="h4 mb-0 text-gray-800"></h3>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="./">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Categorias</li>
            </ol>
          </div>

          <div class="row mb-3">
            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12" >
              <div class="card mb-4" style="top: -18px;">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="border-bottom: 1px solid #ebedf2;">
                  <h6 class="m-0 font-weight-bold text-primary">Manutenção de Categorias</h6>
                  <div class="dropdown no-arrow">
                    <button type="button" onclick="$('#ModalCadastro').modal('show')" class="btn btn-primary btn-sm">Nova Categoria</button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="chart-area">
                      <table id="table-stations-off" class="display" style="width:100%">
                        <thead>
                          <tr>
                            <th>Descrição</th>
                            <th>Ações</th>
                          </tr>
                        </thead>
                      </table> 
                  </div>
                </div>
              </div>
            </div>
          </div>

          
          <!-- Modal Cadastro -->
          <div class="modal fade bd-example-modal-lg" id="ModalCadastro" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                
                  <div class="modal-header">
                      <h5 class="modal-title" id="title_modal">Cadastro de Produto </h5> 
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                      <div class="modal-body">
                        <div class="form-group" >
                           <form>
                             <div class="form-row">                    
                               <div class="col">
                                 <input type="hidden" id="id_paciente" class="form-control">
                                 <label for="nomeConvenio">Descrição</label>
                                 <input id="id_descricao_produto" type="text" class="form-control" placeholder="Descrição do produto">
                               </div>
                               <div class="col-2">
                                 <label for="categoria">Categoria</label>
                                 <select class="form-control" id="id_categoria">
                                   <option value="" disabled selected>Escolher...</option>
                                 </select>
                               </div>
                               <div class="col-3">
                                 <label for="nomeConvenio">Data de Cadastro</label>
                                 <input type="date" class="form-control" name="data_nascimento" id="data_cadastro_produto">
                               </div>
                             </div>
                             </div>
                              <div class="modal-footer">
                                <button type="button" onclick="newproduct()" class="btn btn-sm btn-primary">Salvar</button>
                                <button type="cancel" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancelar</button>
                              </div>
                            </form> 
                       </div>        
                   </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    </div>
                  </div>      
              </div>
            </div>
          </div>
        <!---Container Fluid-->
      </div>
      <!-- Footer -->
      {% include 'rodape.html' %}
      <!-- Footer -->
    </div>
  </div>

  {% include 'rodape_js.html' %}
  
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<!-- Moment.js: -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

	<!-- Brazilian locale file for moment.js-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/pt-br.js"></script>

	<!-- Ultimate date sorting plug-in-->
	<script src="https://cdn.datatables.net/plug-ins/1.10.21/sorting/datetime-moment.js"></script>

	<script type="text/javascript">
		$(document).ready(function () {
                  
			moment.locale('pt-br');
			$.fn.dataTable.moment( 'DD/MM/YYYY' );
			$('#table-stations-off').DataTable({
				language: {
					url: 'https://cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json'
				},
				columns: [
					{ width: "28%" },
					{ width: "8%" }
				],
				order: [[1, 'desc']],
			});
      get_categorias_cadastradas();
		});
  

    // Savar um novo produto
		function newproduct(){  
			objeto = {
				'produto_name': $('#id_descricao_produto').val(),
				'categoria_id': $('#id_categoria').val(),
				'data_cadastro': $('#data_cadastro_produto').val(),
				'csrfmiddlewaretoken': '{{ csrf_token }}'
			};
			$.ajax({
				type: "POST",
				url: "/produtos",
				context: this,
				data: objeto,
				success: function (data) {    
					if (data.type == 1){
						mostraDialogo(data.message,'success');        
            get_produtos_cadastrados();       					
            clean_modal();
					}else if (data.type == 2){
						mostraDialogo(data.message,'danger', 6000); 
            clean_modal();              
					}else{
            mostraDialogo('Algo deu errado :(','danger');  
            clean_modal();
          }				
				},
				error: function (errors) {
					var listaerros = "";
					if(!errors.responseJSON){
						mostraDialogo(errors.responseText,'danger');
					}else{
						$.each(errors.responseJSON.errors, function (key, value) {
							listaerros =  listaerros + '<p>'+value+'</p>';
						});
						mostraDialogo(listaerros,'danger');
					}
				}
			});        
		};

    function delete_prod(id){
      var conf = confirm("Você realmente deseja deletar o produto selecionado? \n Esta ação não pode ser desfeita!");
      if (conf == true){
        var csrf = '{{ csrf_token }}'

        objeto = {
          'id_produto': id,
          'csrfmiddlewaretoken': csrf
        };
        $.ajax({
          type: "POST",
          url: `/deletarprodutos/`,
          context: this,
          data: objeto,
          success: function (data) {    
            if (data.type == 1){
              mostraDialogo(data.message,'success');        
              get_produtos_cadastrados();       					
            }else if (data.type == 2){
              mostraDialogo(data.message,'danger', 6000); 
              clean_modal();              
            }else{
              mostraDialogo('Algo deu errado :(','danger');  
              clean_modal();
            }				
          },
          error: function (errors) {
            var listaerros = "";
            if(!errors.responseJSON){
              mostraDialogo(errors.responseText,'danger');
            }else{
              $.each(errors.responseJSON.errors, function (key, value) {
                listaerros =  listaerros + '<p>'+value+'</p>';
              });
              mostraDialogo(listaerros,'danger');
            }
          }
        });
      }
    }

    function clean_modal(){
        $('#ModalCadastro').modal('hide');	
        $('#id_descricao_produto').val('');
    		$('#id_categoria').val('');
				$('#data_cadastro_produto').val('');
    }
 
    </script>
    
    <script type="text/javascript" src='{% static "script.js" %}'></script>	
   
</body>

</html>